<div class="my-2">
  <h3><b>{{ order }}</b></h3>
</div>
<div class="container my-5">
  <h4 class="card-title font-weight-bold ">{{orders}}</h4>
  <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th class="bg-primary text-light" scope="col">ORDER ID</th>
          <th class="bg-primary text-light" scope="col">PRODUCT NO</th>
          <th class="bg-primary text-light" scope="col">CUSTOMER NAME</th>
          <th class="bg-primary text-light" scope="col">STREET</th>
          <th class="bg-primary text-light" scope="col">CITY</th>
          <th class="bg-primary text-light" scope="col">STATUS</th>
          <th class="bg-primary text-light" scope="col">ACTION</th>
          <th class="bg-primary text-light" scope="col">VIEW REPORT</th>
        </tr>
      </thead>
      <tbody *ngFor= "let order of order$ | async">
        <tr>
          <td>{{ order.order_id}}</td>
          <td>{{ order.no}}</td>
          <td>{{ order.customer_name}}</td>
          <td>{{ order.street}}</td>
          <td>{{ order.city}}</td>
          <td>{{ order.delivery_status}}</td>
          <td>
            <span>
              <button class="btn btn-success btn-sm align-middle" 
              routerLink="/AssignOrders/{{order.order_id}}">
              <i class="fa fa-user-plus text-grey" aria-hidden="true"></i> Assign</button>
            </span>
          </td>
          <td>
            <span>
                <button class="btn btn-primary btn-sm align-middle" 
                routerLink="/ViewOrderReport/{{order.order_id}}">
                <i class="fa fa-eye text-grey" aria-hidden="true"></i> View</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
