<div class="col-lg-6 offset-lg-3">
  <div class="card mb-3 align-content-center">
    <div class="card-header text-white bg-dark">Update Assigned Order</div>
    <div class="card-body">
  
      <form
      [formGroup]="updateForm"
      #formDirective="ngForm"
      (ngSubmit)="assign(updateForm.value)"
      novalidate>
  
      <div *ngIf="order">
        <div class="form-group" >
          <label for="orderid">Order ID</label>
          <input
            type="text"
            readonly 
            [(ngModel)]="order.order_id" 
            class="form-control"
            formControlName="order_id">
        </div>
        <div class="form-group">
          <label for="driverid">Driver ID</label>
          <select
            type="text" 
            [(ngModel)]="order.driver_id"
            class="form-control"
            formControlName="driver_id">
            <option>1022</option>
            <option>3121</option>
            <option>4044</option>
            <option>5892</option>
            <option>6209</option>
          </select>
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input
            type="date"
            [(ngModel)]="order.assigned_date"
            class="form-control"
            formControlName="assign_date">
        </div>
        <div class="form-group">
          <label for="delivery_status">Delivery Status</label>
          <select
            class="form-control"
            formControlName="status"
            [(ngModel)]="order.delivery_status"
            name="status">
            <option>Assigned</option>
            <option>Completed</option>
            <option>processing</option>
          </select>
        </div>
  </div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!updateForm.valid">
          Update Assigned Order
        </button>
  
      </form>
      <br>
      <div class="container row"  *ngIf="showMsg">
        <div class="col-xs-12">
          <p class="alert alert-success">
              <strong>Successfuly Updated Assigned Order!</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
